.container{
    padding: 20px 0;
    /* background-color: blue; */
    height: calc(100vh - 56px);
    margin-top: 56px;
    /* background-color: blue; */


}
.title{
  /* padding-top: 40px; */
  text-align: center;
  font-style: normal;
  color: rgb(87, 87, 87);
}
.container__input{
    padding: 20px  0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    /* background-color: yellow */
    /* background-color: burlywood; */

}
.input{
    width:90%;
    
}
.button{
    padding: 20px;
    width: 80%;
    height:50px;
    /* background:blue; */

}